<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/3cbf562bfa.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body class="light-theme dark-theme">
    <h1>Welcome Back!</h1>

    <div class="modebtn-container">
        <button onclick="mode()" class="modebtn icon">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
    </div>

    <form method="POST" class="form-input">
        {% csrf_token %}
            <div class="user-logo">
                <button type="button" class="icon">
                <i class="fa-solid fa-user"></i>
                </button>
                <input type="text" name="username" placeholder="Username" class="inputbox"/>
            </div>
            <div class="password-logo">
                <button type="button" class="icon">
                <i class="fa-solid fa-lock"></i>
                </button>
                <input type="password" name="password" placeholder="Password" class="inputbox" />
            </div>
            <button type="submit" class="icon">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </button>
            <a class="lnk" href="{% url 'signup' %}">New User? Signup!</a>

    </form>

{% load static %}
<script src="{% static 'js/theme.js' %}"></script> 

</body>
</html>